header {
    background-color: #ffffff;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo-1 {
    max-width: 250px; /* Adjust to fit your logos */
    height: auto;
}

.logo-2 {
    max-width: 212px; /* Adjust to fit your logos */
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Normal */
}

.audio-row {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.audio-column {
    width: 45%;
    text-align: center;
}

audio {
    width: 100%;
    height: 50px; /* Reduce height */
}

section.audio-example-1 {
    border-top: 2px solid #b22222;
    background-color: #f0f0f0;
}

section.audio-example-2 {
    border-top: 2px solid #b22222;
    background-color: #d3d3f7;
}

section.audio-example-3 {
    border-top: 2px solid #b22222;
    background-color: #a7a7ee;
}

section.audio-example-4 {
    border-top: 2px solid #b22222;
    background-color: #8787ec;
}

section.audio-example-5 {
    border-top: 2px solid #b22222;
    background-color: #5e5ee3;
}

hr.thick-line {
    border: none;
    border-top: 5px solid #000;
    margin: 20px 0;
}

hr.thick-line {
    border: none;
    border-top: 2px solid #4e0404;
    margin: 10px 0;
}

/* Estilos para el bloque <pre> */
pre {
    background-color: #2d2d2d; /* Fondo oscuro */
    color: #f8f8f2; /* Texto blanco */
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto; /* Scroll horizontal si el código es muy largo */
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

.code-block {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid #ccc;
}

pre {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

code.yaml {
    color: #2d5dbd;  /* Azul para llaves */
}

code.yaml .string {
    color: #d14;  /* Color para strings */
}

code.yaml .number {
    color: #098658;  /* Verde para números */
}

