body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 10px; /* Added margin on left and right */
    max-width: 1200px; /* Set a max-width to limit the width on larger screens */
    width: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
}

/* Media query for small screens */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
    .container {
        padding: 20px;
    }
}
